<style>
  .output {
    min-height: 150px;
    border: dashed 1px gray;
    margin: 5px;
    padding: 5px;
  }
  .output > li {
    padding: 3px 5px;
    background-color: azure;
    list-style-type: none;
    border: dotted var(--text-primary) 1px;
    margin-top: 5px;
    font-size: small;
    color: rgb(66, 65, 65);
  }
</style>
<div class="box">
  <h1>Team Generator</h1>
  <ul class="output">
    <li *ngFor="let member of members; let no = index">
      {{ no + 1 }}. {{ member }}
    </li>
  </ul>
  <!-- <app-user></app-user> -->
  <div>
    <input
      #addName
      placeholder="Enter Names"
      class="names"
      type="text"
      [value]="newMember"
      (input)="addNameInput(addName.value)"
    />
  </div>
  <small class="error" *ngIf="inputError">{{ inputError }}</small>
  <div><button class="btn btn-lg" (click)="addMember()">Add</button></div>
  <div class="teams-box">
    <input
      #teamDetailtext
      class="teams-i"
      placeholder="user details"
      type="text"
      name=""
      [value]="teamDetailsInput"
      (input)="setTeam(teamDetailtext.value)"
    />
    <button
      *ngIf="teamDetailsInput.length > 0 || teamDetails.length"
      (click)="addTeamDetails()"
      class="teams-b btn"
    >
      Generate
    </button>
  </div>
  <div>
    <div *ngIf="teamDetailError">{{ teamDetailError }}</div>
    <ul *ngIf="teamDetails.length" class="output2">
      <app-teams [team]="teamDetails"></app-teams>
    </ul>
  </div>
</div>
